body{
    background-color: aliceblue;
    width: 300px;
    margin: auto;
}
p{
    color: rgb(76, 146, 125);
    font-size: large;
    margin: auto;
    width: 300px;
    text-align: justify;
    border: 1px solid black;
    

}